In [1]:
import pandas as pd
import duckdb
import creds

conn = duckdb.connect("my_db.duckdb")
conn.execute("INSTALL mysql;")
conn.execute(f"ATTACH 'host={creds.host} user={creds.user} password={creds.password} port={creds.port} database={creds.database}' AS mysqldb (TYPE mysql)")

In [2]:
conn.execute("USE mysqldb")

In [3]:
result = conn.execute("SELECT * FROM employees_offices").fetchall()

print(result)

[(1002, 'Murphy', 'Diane', 'x5800', 'dmurphy@classicmodelcars.com', None, 'President', '1', 'San Francisco'), (1056, 'Patterson', 'Mary', 'x4611', 'mpatterso@classicmodelcars.com', 1002, 'VP Sales', '1', 'San Francisco'), (1076, 'Firrelli', 'Jeff', 'x9273', 'jfirrelli@classicmodelcars.com', 1002, 'VP Marketing', '1', 'San Francisco'), (1088, 'Patterson', 'William', 'x4871', 'wpatterson@classicmodelcars.com', 1056, 'Sales Manager (APAC)', '6', 'Sydney'), (1102, 'Bondur', 'Gerard', 'x5408', 'gbondur@classicmodelcars.com', 1056, 'Sale Manager (EMEA)', '4', 'Paris'), (1143, 'Bow', 'Anthony', 'x5428', 'abow@classicmodelcars.com', 1056, 'Sales Manager (NA)', '1', 'San Francisco'), (1165, 'Jennings', 'Leslie', 'x3291', 'ljennings@classicmodelcars.com', 1143, 'Sales Rep', '1', 'San Francisco'), (1166, 'Thompson', 'Leslie', 'x4065', 'lthompson@classicmodelcars.com', 1143, 'Sales Rep', '1', 'San Francisco'), (1188, 'Firrelli', 'Julie', 'x2173', 'jfirrelli@classicmodelcars.com', 1143, 'Sales Rep', '2', 'Boston'), (1216, 'Patterson', 'Steve', 'x4334', 'spatterson@classicmodelcars.com', 1143, 'Sales Rep', '2', 'Boston'), (1286, 'Tseng', 'Foon Yue', 'x2248', 'ftseng@classicmodelcars.com', 1143, 'Sales Rep', '3', 'NYC'), (1323, 'Vanauf', 'George', 'x4102', 'gvanauf@classicmodelcars.com', 1143, 'Sales Rep', '3', 'NYC'), (1337, 'Bondur', 'Loui', 'x6493', 'lbondur@classicmodelcars.com', 1102, 'Sales Rep', '4', 'Paris'), (1370, 'Hernandez', 'Gerard', 'x2028', 'ghernande@classicmodelcars.com', 1102, 'Sales Rep', '4', 'Paris'), (1401, 'Castillo', 'Pamela', 'x2759', 'pcastillo@classicmodelcars.com', 1102, 'Sales Rep', '4', 'Paris'), (1501, 'Bott', 'Larry', 'x2311', 'lbott@classicmodelcars.com', 1102, 'Sales Rep', '7', 'London'), (1504, 'Jones', 'Barry', 'x102', 'bjones@classicmodelcars.com', 1102, 'Sales Rep', '7', 'London'), (1611, 'Fixter', 'Andy', 'x101', 'afixter@classicmodelcars.com', 1088, 'Sales Rep', '6', 'Sydney'), (1612, 'Marsh', 'Peter', 'x102', 'pmarsh@classicmodelcars.com', 1088, 'Sales Rep', '6', 'Sydney'), (1619, 'King', 'Tom', 'x103', 'tking@classicmodelcars.com', 1088, 'Sales Rep', '6', 'Sydney'), (1621, 'Nishi', 'Mami', 'x101', 'mnishi@classicmodelcars.com', 1056, 'Sales Rep', '5', 'Tokyo'), (1625, 'Kato', 'Yoshimi', 'x102', 'ykato@classicmodelcars.com', 1621, 'Sales Rep', '5', 'Tokyo'), (1702, 'Gerard', 'Martin', 'x2312', 'mgerard@classicmodelcars.com', 1102, 'Sales Rep', '4', 'Paris')]

In [4]:
df = pd.DataFrame(result, columns=['employee_num','last_name','first_name','extension','email','reports_to','Title','OfficeID','city'])
df

,employee_num,last_name,first_name,extension,email,reports_to,Title,OfficeID,city
0,1002,Murphy,Diane,x5800,dmurphy@classicmodelcars.com,NaN,President,1,San Francisco
1,1056,Patterson,Mary,x4611,mpatterso@classicmodelcars.com,1002.0,VP Sales,1,San Francisco
2,1076,Firrelli,Jeff,x9273,jfirrelli@classicmodelcars.com,1002.0,VP Marketing,1,San Francisco
3,1088,Patterson,William,x4871,wpatterson@classicmodelcars.com,1056.0,Sales Manager (APAC),6,Sydney
4,1102,Bondur,Gerard,x5408,gbondur@classicmodelcars.com,1056.0,Sale Manager (EMEA),4,Paris
5,1143,Bow,Anthony,x5428,abow@classicmodelcars.com,1056.0,Sales Manager (NA),1,San Francisco
6,1165,Jennings,Leslie,x3291,ljennings@classicmodelcars.com,1143.0,Sales Rep,1,San Francisco
7,1166,Thompson,Leslie,x4065,lthompson@classicmodelcars.com,1143.0,Sales Rep,1,San Francisco
8,1188,Firrelli,Julie,x2173,jfirrelli@classicmodelcars.com,1143.0,Sales Rep,2,Boston
9,1216,Patterson,Steve,x4334,spatterson@classicmodelcars.com,1143.0,Sales Rep,2,Boston
10,1286,Tseng,Foon Yue,x2248,ftseng@classicmodelcars.com,1143.0,Sales Rep,3,NYC
11,1323,Vanauf,George,x4102,gvanauf@classicmodelcars.com,1143.0,Sales Rep,3,NYC
12,1337,Bondur,Loui,x6493,lbondur@classicmodelcars.com,1102.0,Sales Rep,4,Paris
13,1370,Hernandez,Gerard,x2028,ghernande@classicmodelcars.com,1102.0,Sales Rep,4,Paris
14,1401,Castillo,Pamela,x2759,pcastillo@classicmodelcars.com,1102.0,Sales Rep,4,Paris
15,1501,Bott,Larry,x2311,lbott@classicmodelcars.com,1102.0,Sales Rep,7,London
16,1504,Jones,Barry,x102,bjones@classicmodelcars.com,1102.0,Sales Rep,7,London
17,1611,Fixter,Andy,x101,afixter@classicmodelcars.com,1088.0,Sales Rep,6,Sydney
18,1612,Marsh,Peter,x102,pmarsh@classicmodelcars.com,1088.0,Sales Rep,6,Sydney
19,1619,King,Tom,x103,tking@classicmodelcars.com,1088.0,Sales Rep,6,Sydney
20,1621,Nishi,Mami,x101,mnishi@classicmodelcars.com,1056.0,Sales Rep,5,Tokyo
21,1625,Kato,Yoshimi,x102,ykato@classicmodelcars.com,1621.0,Sales Rep,5,Tokyo
22,1702,Gerard,Martin,x2312,mgerard@classicmodelcars.com,1102.0,Sales Rep,4,Paris